{% extends "base.html" %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.foundation.min.css" rel="stylesheet" type="text/css" />



{% endblock %}

{% block content %}

    <br>
    <div class="container" id="dataTables_filter" style="width: 80%">
        <table style="width:100%" id="resource-data" class="display">
            <thead>
              <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Deadline</td>
                  <td> </td>
              </tr>
            </thead>
            <tbody>
            {% for resource in resources %}
                <tr>
                    <td>{{ resource.name }}</a></td>
                    <td>{{ resource.description }}</td>
                    <td>{{ resource.deadline}}</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myOutput{{ resource.id }}">Details</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% for resource in resources %}

    <!-- Modal -->
    <div class="modal fade" id="myOutput{{ resource.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Resource Details: {{resource.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <h3>{{resource.name}}</h3>
              <h5>Deadline: </h5> {{resource.deadline}}
              <h5>Offered by: </h5> {{resource.source}}
              <h5>Amount: </h5> {{resource.amount}}
              <h5>Point of Contact: </h5> {{resource.point_of_contact}} <br>
              {{resource.description}}
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              {% if resource.URL %}
              <a href="{{resource.URL.geturl()}}" class="btn btn-primary">Website</a>
              {% else %}
              {% endif %}
          </div>
        </div>
      </div>
</div>
{% endfor %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.foundation.min.js"></script>


    <script>
            $(document).ready( function () {
              var table = $('#resource-data').DataTable();
            } );
    </script>

{% endblock %}

