{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}




{% block content %}


<div class=container"><br>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <h1>Add new resource</h1>
                <form action="" class="form-horizontal" method="post" novalidate>
                {{ wtf.quick_form(form) }}
                <div  class="col-sm-9">{{ form.submit() }}</div>
             </form>
        </div>
    </div>
</div>
{% endblock %}